body.css_debug *:not(.debug-wrapper > *):not(.debug-wrapper) {
  background: rgba(0, 100, 0, 0.1) !important;
  outline: solid 1px rgba(0, 100, 0, 0.3) !important;
  outline-offset: -1px;
}

.debug-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 0.75rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
}
.debug-wrapper p {
  position: relative;
  font-size: 0.75rem;
  margin-block: 0;
  padding-block-start: 0.25rem;
  text-transform: uppercase;
  color: white;
}
.debug-wrapper .toggle {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}
.debug-wrapper .toggle .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: lightsalmon;
  transition: all 0.3s ease-out;
  border-radius: 2rem;
}
.debug-wrapper .toggle .slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}
.debug-wrapper .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.debug-wrapper .toggle input:checked + .slider {
  background-color: darkseagreen !important;
}
.debug-wrapper .toggle input:checked + .slider::before {
  transform: translateX(1.5rem);
}

